# Google OAuth
GOOGLE_CLIENT_ID=Google Console Client ID
GOOGLE_CLIENT_SECRET=Google Console Client Secret
GOOGLE_CALLBACK_URL=Google Callback URL

# Session
SESSION_SECRET=Session Secret

# Database
MONGO_URI=MONGO URL

# Server
PORT=Port Connection